<div class="tab">
	<div class="choose">
		<p class="red_btn"><img src="{{img1}}"/></p>
		<p class="vip_btn"><img src="{{img2}}"/></p>
	</div>
	<div class="chose" style="background: {{bgcolor}};">
		<p class="red_btn"><img src="{{img3}}"/></p>
		<p class="vip_btn vip_btns"><img src="{{img4}}"/></p>
	</div>
</div>